@font-face {
  font-family: "KyoboHandwriting2021sjy";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --height1: 8vh;
  --height2: 8vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  font-family: "KyoboHandwriting2021sjy" sans-serif;
}

body {
  background-color: #fafaf6;
  display: flex;
}

.mylink {
  text-decoration: none;
  color: black;
}
.main-div {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: calc(96vh - var(--height1) - var(--height2));
  border: 0.5px solid #fafbfd;
  border-radius: 9vw;
  background-color: #fcfdff;
  margin: auto;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
  transition-delay: 1ms;
}
.myheader {
  line-height: var(--height1);
  text-align: center;
  width: 90vw;
  height: var(--height1);
  text-decoration: none;
  background-color: #c6e5f3;
  margin: auto auto 2vh auto;
  border-radius: 0 0 4vh 4vh;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
}
.myheader:hover {
  line-height: var(--height1);
}

.myfooter {
  margin: 2vh auto auto auto;
  width: 90vw;
  height: var(--height2);
  text-align: center;
  background-color: #badfdb;
  border-radius: 4vh 4vh 0 0;
  line-height: var(--height2);
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
  transition-delay: 1ms;
}
.myfooter:hover {
  line-height: var(--height2);
}

/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}
 */
